<div class="row">
	<section class="featured-jobs">
		<% if @jobs.blank? %>
		<%= @query_string %>
		<% else  %>
		<div class="container">
			<div class="center-block"><h1 style="color:black;">Relative jobs</h1></div>
			<%  count = 0 %>
			<% @jobs.each do |job| %>
			<% if count == 0 %>
			<div class="row">
				<% end %>
				<% count+=1 %>
				<%= render partial: "job", locals: { job:job} %>
				<% if count == 3 %>
			</div>
			<% count = 0 %>
			<% end %>
			
			<% end %>
		</div>
		<div class="text-center"><%= will_paginate @jobs,renderer: BootstrapPagination::Rails  %></div>
		<% end %>
		
		
	</section>
</div>