<div class="row jobs-show">
	<div  class="jobs-show-panel" >
		
		<div class="panel panel-default jobs-show-panel" >
			<h1 class="jobs-show-header"> <%= @job.title %></h1>
			<br>
			<div class="panel-body">
				<p><%=simple_format(@job.description)  %></p>
			</div>
			<hr>
			<div class="text-center">
				<% if current_user &&current_user.has_applied?(@job) %>
				 <%= link_to("Reupload","#",:class=> "btn btn-danger")%>
				<% else %>
				<%= link_to("Upload",new_job_resume_path(@job),:class=> "btn btn-danger")%>
				<% end %>
			</div>
		</div>
	</div>
</div>