<div class="container">
	<div class="panel panel-default" style="max-width: 720px; margin-top: 15%; margin-left: 25%;	 margin-bottom: 20%">
	<div class="panel-body">
		<h1 style="color:black;" class="text-center"> <%= @job.title  %></h1>
		<hr>
		<p><%=simple_format(@job.description)  %></p>


	</div>
	<div class="panel-footer">
		<div class="text-center">
			<%= link_to("Upload", new_job_resume_path(@job), :class=> "btn btn-danger") %>
		</div>
	</div>
</div>


</div>

