<div class="pull-right">
	<%= link_to("Add a Job",new_admin_job_path,:class=>"btn btn-default") %>
</div>
<table class="table table-boldered table-striped custab" >
	<thead>
		<td>Jobs </td>
		<td>Resumes count</td>
		<td>Wage lower bound</td>
		<td>Wage upper bound</td>
		<td>Location</td>
		<td>Company</td>
		<td>Management</td>
		<td>CreatedAt</td>
	</thead>
	<tbody>

		<%= render :partial=>"job", :collection=>@jobs,:as=>:job %>
	</tbody>

	
</table>