<div class="pull-right">
	<%= link_to("Add a Job",new_admin_job_path,:class=>"btn btn-default") %>
</div>
<table class="table table-boldered">
	<thead>
		<td>Jobs </td>
		<td>Resumes count</td>
		<td>Salary lower bound</td>
		<td>Salary upper bound</td>
		<td>Management</td>
		<td>CreatedAt</td>
	</thead>
	<tbody>

		<%= render :partial=>"job", :collection=>@jobs,:as=>:job %>
	</tbody>

	
</table>