// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.item.active{
	width: 1430px;
	background-image: url("http://r.photo.store.qq.com/psb?/V11mqdez1kYrfX/GuOxxc5HArR7DNszKiQSlshNe7HWefhuSjDI0CVUyck!/r/dHkBAAAAAAAA.png");
	background-size:cover;
}