<div class="row resume-upload">
<div class="container panel-resume-upload"> 
		<div class="panel panel-default panel-resume-upload  col-md-6 col-md-offset-3">
			<div >
				<h1 class="resume-upload-head">Upload resume</h1>
			</div>
			<div class="panel-body">
				<%= simple_form_for [@job, @resume] do |f| %>
				<div class="trix-content">
					<%= f.input :content ,label: false, autofocus: true ,placeholder: 'Enter content*',:input_html => {:style => 'height: 100px'}%>
				</div>

					<div class="row">
						<div class="col-md-6" ><%= f.input :attachment, label: false %></div>
						<div class="col-md-6"><%= f.submit "Send" ,:class => "btn-danger btn",:style=>"position:relative;left:75%;" %></div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
