    <section id="feature" >
        <div class="container">
           <div class="center wow fadeInDown">
           <br>
           <br>
                <h2>Company</h2>Learn more about us you can contact us via..</p>
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                           
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <h2>Location</h2>
                            <h3>Beijing</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <h2>Email</h2>
                            <h3>job@job.com</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <h2>Phone Call</h2>
                            <h3>8008208820</h3>
                        </div>
                    </div><!--/.col-md-4-->
                
                   
                </div><!--/.services-->
            </div><!--/.row-->    
        </div><!--/.container-->
    </section><!--/#feature-->