<section id="partner">
    <div class="container">
        <div class="center wow fadeInDown partner-text">
            <h2 class="lead " >Our Partners</h2>
            <p class="lead ">We have many famouse Parnters worldwide. You can find the most favoritest job there.</p>
        </div>
        <div class="partners">
            <div class="row align-items-center">
                <div class="col-md-4"><a href="#"><img class="img-responsive wow fadeInDown lg" data-wow-duration="1000ms" data-wow-delay="600ms" src="/assets/images/partners/partner2.png"></a></div>
                <div class="col-md-4"><a href="#"><img class="img-responsive wow fadeInDown lg" data-wow-duration="1000ms" data-wow-delay="900ms" src="/assets/images/partners/partner3.png"></a></div>
                <div class="col-md-4"><a href="#"><img class="img-responsive wow fadeInDown lg" data-wow-duration="1000ms" data-wow-delay="1200ms" src="/assets/images/partners/partner4.png"></a></div>
                
            </div>
            <div class="row align-items-center">

                <div class="col-md-4"><a href="#"><img class="img-responsive wow fadeInDown lg2" data-wow-duration="1000ms" data-wow-delay="1500ms" src="/assets/images/partners/partner6.png"></a></div>
                <div class="col-md-4"><a href="#"><img class="img-responsive wow fadeInDown lg2" data-wow-duration="1000ms" data-wow-delay="1500ms" src="/assets/images/partners/partner7.png"></a></div>
                <div class="col-md-4"><a href="#"><img class="img-responsive wow fadeInDown lg2" data-wow-duration="1000ms" data-wow-delay="1500ms" src="/assets/images/partners/partner8.png"></a></div>
            </div>
        </div>
        </div><!--/.container-->
        </section><!--/#partner-->