    <section id="main-slider" class="no-margin">
        <div class="carousel slide">

            <div class="carousel-inner">

                <div class="item active" style="background-image: url(http://r.photo.store.qq.com/psb?/V11mqdez1kYrfX/GuOxxc5HArR7DNszKiQSlshNe7HWefhuSjDI0CVUyck!/r/dHkBAAAAAAAA.png)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
                                    <h2 class="animation animated-item-2">Accusantium doloremque laudantium totam rem aperiam, eaque ipsa...</h2>
                                    <a class="btn-slide animation animated-item-3" href="#">Read More</a>
                                </div>
                            </div>

                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="http://r.photo.store.qq.com/psb?/V11mqdez1kYrfX/O.HjH0KLuHHhXSrrL.wlYHZpda.kuYu1LCVkclf3*x4!/r/dAsBAAAAAAAA.png" class="img-responsive">
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!--/.item-->


            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->

    </section><!--/#main-slider-->
