<div class="row applied-jobs">

<div class="container"> 
<div class="row  col-md-9 col-md-offset-1 custyle">
	
	<table class="table table-boldered table-striped custab" >
		<thead>
			<td>Jobs</td>
			<td>Wage</td>
			<td>Location</td>
			<td>Company</td>
			<td>CreatedAt</td>
		</thead>
		<tbody>
			<%= render :partial=>"job", :collection=>@jobs,:as=>:job %>
		</tbody>
		
	</table>
</div>

</div>
	
</div>